.font-staatliches {
  font-family: 'Staatliches', cursive;
}
.font-titillium-web {
  font-family: 'Titillium Web', sans-serif;
}
.font-merienda {
  font-family: 'Merienda', cursive;
}

.font-size-12 {
  font-size: 12px;
}
.font-size-18 {
  font-size: 18px;
}
.font-size-24 {
  font-size: 24px;
}

#root {
  margin: 85px auto 20px auto;
}
#render-list {

}
.strike {
  text-decoration: line-through !important;
}
.hidden {
  display: none !important;
}
.created-at {
  min-width: 100px;
  text-align: center;
}
.item {
  min-width: 100px;
  text-align: center;
}
.truncate {
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
